# Python virtual environment
.venv/

# Byte-compiled / cached files
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# VS Code project files
.vscode/